.imagecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}

.imagecard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imagecontainer {
    padding: 2px 16px;
}